body {
  margin: 0;
  padding: 0;
  background-image: url("../public/stacked-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
}

.centrar{
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content:space-between;
}